.hide {
  display: none;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Mobile */
.container {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 320px;
  margin: 0 auto;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Desktop */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

.teams-text {
  margin-bottom: 72px;
  padding-top: 96px;
  font-weight: 700;
  font-size: 36px;

  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.example,
.person-name {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.specialization,
.benefits-description,
.example-description {
  color: #434455;
  letter-spacing: 0.02em;
}
.logo {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.studio {
  color: #2e2f42;
}

.modal-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 16px;
  right: 16px;
}

@media only screen and (min-width: 768px) {
  .modal-menu-btn {
    display: none;
  }
}

.link {
  font-size: 16px;
  font-weight: 500;
  color: #2e2f42;
}

.link:hover,
.link:focus {
  color: #404bbf;
  transition: background-color, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .logo {
  padding: 16px 16px;
}

@media only screen and (min-width: 1158px) {
  .header .logo {
    padding: 24px 156px;
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header-nav,
.address-nav {
  display: none;
}
.header-nav .link {
  display: block;
  padding: 24px 0px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav .link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  transform: scale(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav .link:hover:after,
.header-nav .link:focus:after {
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav .current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  left: 0;
  bottom: -1;
  border-radius: 2px;
  transform: scale(1);
}
.current {
  color: #404bbf;
}
.navigation,
.header-addresses {
  display: flex;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.header-nav,
.address-nav {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    width: auto;
    height: auto;
    gap: 40px;
    padding-left: 120px;
  }
}

@media only screen and (min-width: 768px) {
  .address-nav {
    display: flex;
    width: auto;
    height: auto;
    gap: 12px;
    padding-left: 120px;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1158px) {
  .header-nav {
    padding-left: 76px;
  }
}

@media only screen and (min-width: 1158px) {
  .address-nav {
    padding-left: 332px;
    flex-direction: row;
  }
}

.header-addresses {
  font-style: normal;
}

.header-addresses .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-addresses a {
  color: #434455;
}
/* Hero image section */
.hero-image {
  max-width: 1440px;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image/Dark-bghero-bg_mob@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

@media (min-resolution: 192dpi) {
  .hero-image {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-image/Dark-bghero-bg_mob@2x.jpg);
  }
}
@media (min-width: 768px) {
  .hero-image {
    padding: 112px 0;
    max-width: 786px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-image/Dark-bghero-bg_tab@1x.jpg);
  }
  @media (min-resolution: 192dpi) {
    .hero-image {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-image/Dark-bghero-bg_tab@2x.jpg);
    }
  }
}
@media (min-width: 1158px) {
  .hero-image {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-image/people-office\ 1hero-bg_desk@1x.jpg);
  }
  @media (min-resolution: 192dpi) {
    .hero-image {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-image/people-office\ 1hero-bg_desk@2x.jpg);
    }
  }
}

.hero-image .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-text {
  max-width: 320px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  padding: 72px 52px;
}

@media only screen and (min-width: 768px) {
  .hero-text {
    max-width: 496px;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  min-width: 169px;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* benefits section*/
.benefits footer {
  padding: 96px 0px;
}
.benefits-ul {
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin-top: 96px;
}

@media only screen and (min-width: 768px) {
  .benefits-ul {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 72px 24px;
  }
  .benefits-list {
    align-items: normal;
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .benefits-ul {
    gap: 24px;
    align-items: center;
    margin-top: 120px;
  }
}

.benefits-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .benefits-list {
    align-items: normal;
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .benefits-list {
    width: calc((100% - 72px) / 4);
  }
}

.benefits-name {
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

@media only screen and (min-width: 1158px) {
  .benefits-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
}

.visually-hidden {
  margin-bottom: 8px;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icons-box {
  display: none;
}

@media only screen and (min-width: 768px) {
  .icons-box {
    display: none;
  }
}

@media only screen and (min-width: 1158px) {
  .icons-box {
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 100px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }
}

/* Team section */
.teams footer {
  background-color: #f4f4fd;
  padding: 96px 0px;
}

@media only screen and (min-width: 768px) {
  .teams {
    margin-top: 192px;
  }
}

@media only screen and (min-width: 1158px) {
  .teams {
    padding-top: 240px;
  }
}

.team-ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .team-ul {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 64px 24px;
  }
  .team-list {
    width: calc((100 - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .team-ul {
    gap: 24px;
    align-items: center;
  }
}

.team-list {
  max-width: 264px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px) {
  .team-list {
    width: calc((100 - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .team-list {
    width: calc((100% - 72px) / 4);
  }
}

.person-specialization {
  padding: 32px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.person-name {
  margin-bottom: 8px;
  text-align: center;
}
.specialization {
  text-align: center;
  margin-bottom: 8px;
}

.person-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.contact-links {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-links:hover,
.contact-links:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-contact {
  fill: #f4f4fd;
}
/* Portfolio section */
.portfolio footer {
  padding: 96px 0px;
}

.portfolio-text {
  margin-bottom: 72px;
  padding-top: 96px;
  font-weight: 700;
  font-size: 36px;

  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.portfolio-ul {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 48px;
}

@media only screen and (min-width: 768px) {
  .portfolio-ul {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-ul {
    column-gap: 24px;
    row-gap: 48px;
  }
}
.portfolio-list {
  flex-direction: column;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .portfolio-list {
    max-width: 356px;
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-list {
    width: calc((100% - 48px) / 3);
    max-width: 360px;
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.example-hgroup {
  background-color: #ffffff;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  z-index: 1000;
}

.example {
  margin-bottom: 8px;
}
.portfolio-list {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-hover-box {
  position: relative;
  overflow: hidden;
}

.portfolio-hover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 300px;
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.portfolio-list:hover .portfolio-hover-text {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0);
}
.portfolio-list:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-hover-text {
  color: #f4f4fd;
  padding: 40px 32px;
}
/* Footer section */
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.footer-discription {
  margin-right: 120px;
}
.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer .studio {
  color: #f4f4fd;
}
.footer-p {
  max-width: 264px;
  color: #f4f4fd;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-contacts-text {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 16px;
}
.footer-contacts {
  display: flex;
  gap: 16px;
}
.footer .contact-links:hover,
.footer .contact-links:focus {
  background-color: #31d0aa;
}

.footer-input {
  margin-left: 80px;
}

.footer-email-text {
  display: block;
  color: #ffffff;
  font-weight: 500;
  width: 75px;
  height: 24px;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-input {
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  background-color: transparent;
}

input::placeholder {
  color: #ffffff;
}

.footer-button {
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-button .footer-btn {
  margin-left: 16px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  z-index: 1001;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.close-button {
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border-color: #404bbf;
  fill: #ffffff;
  border: none;
}

.modal-button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
  text-align: center;
  margin-bottom: 16px;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.form-icon-input:focus + svg {
  fill: #4d5ae5;
}

.modal-form-wrapper {
  position: relative;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.modal-form-label {
  line-height: 117%;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-size: 12px;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-form-input {
  border-radius: 4px;
  padding: 11px 38px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border: 1px solid #4d5ae5;
}

.modal-form {
  width: 100%;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-field-footer {
  margin-bottom: 16px;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  padding: 8px 16px;

  font-weight: 400;
  font-size: 12px;

  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 14px;
}
.modal-form-message:hover,
.modal-form-message:focus {
  border-color: #4d5ae5;
}

.modal-form-checkbox {
  display: flex;
  justify-items: center;
  margin-bottom: 24px;
}

.label-input {
  color: rgba(142, 143, 153, 1);
  font-size: 12px;
  line-height: 1.17;
  display: block;
  margin-bottom: 4px;
  letter-spacing: 0.04em;
}

.privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
}
.privacy-label {
  cursor: pointer;
}
.modal-checkbox {
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox .icons-contact {
  opacity: 0;
}
.privacy:checked + .privacy-label > .modal-checkbox {
  fill: #f4f4fd;
  background-color: #404bbf;
  border: none;
}
.privacy:checked + .privacy-label > .modal-checkbox .icons-contact {
  opacity: 1;
}
.form-button {
  max-width: 169px;
  margin: 0 auto;
  display: block;
  height: 56px;
}
